<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/output.css">
    <link rel="icon" href="/assets/img/XV_recortado.svg" type="image/svg+xml">

    <title>Pagina no encontrada</title>
</head>

<body class="font-dancing flex flex-col items-center justify-center h-screen bg-pastel-claro text-gray-800">
    <section class="fixed top-0 left-0 w-full h-screen -z-10">
        <picture class="absolute top-0 left-0 w-full h-screen">
            <img src="/assets/img/fondoPrincipal.webp" alt="" class="h-full w-full object-cover">
        </picture>
    </section>

    <section class="text-center p-2">
        <h1 class="text-4xl sm:text-6xl font-extrabold text-verde-pastel-oscuro">404 - Página no encontrada</h1>
        <p class="text-xl sm:text-2xl font-bold">Lo sentimos, la página que estás buscando no existe.</p>
        <div class="space-y-4 sm:space-y-0 sm:space-x-4">
            <a href="/"
                class="inline-block px-6 py-3 bg-primary bg-verde-pastel-oscuro hover:bg-verde-pastel-medio text-white font-medium rounded-lg transition duration-300">
                Volver al inicio
            </a>
            <a href="#"
                class="inline-block px-6 py-3 border border-verde-pastel-oscuro hover:bg-verde-pastel-medio text-verde-pastel-oscuro font-medium rounded-lg transition duration-300">
                Contactar soporte
            </a>
        </div>
    </section>
</body>

</html>