<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/output.css">
    <title>Editar Invitado</title>
</head>

<body class="min-h-screen font-sour-gummy">
    <header
        class="absolute top-0 left-0 w-full bg-transparent text-center flex justify-between items-center p-5 sm:p-10 mb-10">

        <!-- fondo -->
        <section class="fixed top-0 left-0 w-full h-screen -z-10">
            <picture class="absolute top-0 left-0 w-full h-screen">
                <img src="/assets/img/fondoPrincipal.jpg" alt="" class="absolute h-full w-full object-cover">
            </picture>
        </section>

        <a href="/">
            <img src="/assets/img/XV_recortado.svg" alt="" class="w-12 h-12 mx-auto sm:w-15 sm:h-15">
        </a>

        <nav>
            <ul class="flex space-x-2 ">
                <li>
                    <button id="" onclick="volverCrud()" class="relative inline-block tracking-[.1em] text-texto-oscuro bg-verde-pastel-oscuro font-medium text-xs uppercase no-underline px-6 py-3 rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit
                    hover:-translate-y-1 hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                    active:-translate-y-0.5 active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                    after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:rounded-full after:bg-verde-pastel-oscuro after:-z-10 after:transition-all after:duration-400
                    hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0">Volver
                    </button>
                </li>
            </ul>
        </nav>

    </header>

    <main class="p-3 h-screen flex items-center justify-center">
        <div class="absolute top-2/12 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center">
            <h1 class=" mb-10 font-bold text-xl ss:text-2xl sm:text-3xl md:text-4xl text-texto-oscuro tracking-[.1em]">
                ADMINISTRADOR DE INVITADOS</h1>
        </div>

        <section
            class="bg-verde-pastel-medio p-6 rounded-lg shadow-xl  flex flex-col items-center justify-center w-full max-w-sm ">



            <div class="mt-2 max-h-150 overflow-y-auto p-2 m-auto w-full h-80
             max-w-4xl overflow-hidden">
                <h2 class="text-xl mb-5 font-semibold text-texto-oscuro tracking-[.1em] text-center">
                    Editar invitado
                </h2>

                <form id="agregarInvitado" action="/editarInvitado" method="POST"
                    class="flex flex-col items-center justify-center w-full ">
                    <input type="hidden" id="CampId" name="CampId" placeholder="Nombre del invitado" value="<%= id %>"
                        class="w-full p-2 mb-3 border border-verde-pastel-oscuro rounded-lg focus:outline-none focus:ring-2 focus:ring-verde-pastel-oscuro ">

                    <input required type="text" id="CampNom" name="CampNom" placeholder="Nombre del invitado"
                        value="<%= nombre %>"
                        class="w-full p-2 mb-3 border border-verde-pastel-oscuro rounded-lg focus:outline-none focus:ring-2 focus:ring-verde-pastel-oscuro">

                    <input required type="number" id="CampMesa" name="CampMesa" placeholder="N° de Mesa"
                        value="<%= mesa %>"
                        class="w-full p-2 mb-3 border border-verde-pastel-oscuro rounded-lg focus:outline-none focus:ring-2 focus:ring-verde-pastel-oscuro">

                    <input required type="number" id="CampNum" name="CampNum" placeholder="N° de Invitados"
                        value="<%= numInvitados %>"
                        class="w-full p-2 mb-3 border border-verde-pastel-oscuro rounded-lg focus:outline-none focus:ring-2 focus:ring-verde-pastel-oscuro">

                    <button id="" onclick="" type="submit" class="relative mt-5 inline-block text-texto-oscuro  bg-verde-pastel-oscuro font-medium text-sm xs:text-md uppercase no-underline px-6 py-3 rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit
                        hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                        active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                        after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:rounded-full after:bg-verde-pastel-oscuro after:-z-10 after:transition-all after:duration-400
                        hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0">Guardar Invitado
                    </button>
                </form>

            </div>

        </section>
    </main>

    <footer
        class="fixed bottom-0 left-0 right-0 w-full h-16 flex items-center justify-center bg-verde-pastel-medio text-white text-center p-4">
        <p>© Todos los derechos reservados.</p>
    </footer>
</body>

<script>
    function volverCrud() {
        setTimeout(() => {
            window.location.href = "/crud_invitados";
        }, 500);
    }
</script>

</html>