<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/output.css">
    <title>Agregar Invitado</title>
</head>
<body class="flex flex-col min-h-screen bg-[var(--color-pastel-claro-medio)] font-sans">
    <header class=" bg-transparent text-center flex justify-between items-center p-5 shadow-red-950 mb-10">
        
        <div>
            <img  src="/assets/img/XV_recortado.svg" alt="" class="w-10 h-10 mx-auto">
        </div>

        <nav>
            <ul class="flex space-x-2 ">
                <li>
                    <button id="" onclick="volverCrud()"
                    class="relative inline-block tracking-[.1em] text-[var(--color-texto-oscuro)] bg-[var(--color-borde-suave)] font-medium text-xs uppercase no-underline px-6 py-3 rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit
                    hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                    active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                    after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
                    hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0"
                    >Volver
                    </button>
                </li>
            </ul>
        </nav>

    </header>

 <main class="p-3 flex-1">
    <section class="bg-[var(--color-contraste-crema)] p-6 rounded-lg shadow-xl  flex flex-col items-center justify-center m-auto max-w-4xl ">

        <h1 class="mb-10 font-bold text-xl text-[var(--color-texto-oscuro)] tracking-[.1em]">ADMINISTRADOR DE INVITADOS</h1>
        
        
        <div class="mt-2 max-h-150 overflow-y-auto p-2 m-auto w-full" >
            <h2 class="text-xl mb-5 font-semibold text-[var(--color-texto-oscuro)] tracking-[.1em]">Editar invitado</h2>

            <form id="agregarInvitado" action="/editarInvitado" method="POST" class="flex flex-col items-center justify-center w-full ">
                <input type="hidden" id="CampId" name="CampId" placeholder="Nombre del invitado" value="<%= id %>" class="w-full p-2 mb-3 border border-[var(--color-borde-suave)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-rosa-mas-oscuro)] ">

                <input required type="text" id="CampNom" name="CampNom" placeholder="Nombre del invitado" value="<%= nombre %>" class="w-full p-2 mb-3 border border-[var(--color-borde-suave)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-rosa-mas-oscuro)]">

                <input required type="number" id="CampMesa" name="CampMesa" placeholder="N° de Mesa" value="<%= mesa %>" class="w-full p-2 mb-3 border border-[var(--color-borde-suave)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-rosa-mas-oscuro)]">

                <input required type="number" id="CampNum" name="CampNum" placeholder="N° de Invitados" value="<%= numInvitados %>" class="w-full p-2 mb-3 border border-[var(--color-borde-suave)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-rosa-mas-oscuro)]">
                
                <button id="" onclick="" type="submit"
                class="relative mt-5 inline-block text-[var(--color-texto-oscuro)]  bg-[var(--color-borde-suave)] font-medium text-xs uppercase no-underline px-6 py-3 rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit
                hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
                hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0"
                >Guardar Invitado
                </button>
            </form>
            
        </div>
        
    </section>
 </main>

 <footer class="p-3 bg-[var(--color-verde-claro)] text-center text-amber-50 font-semibold">
    <p>&copy; 2025 Invitación XV. Todos los derechos reservados.</p>

 </footer>
</body>

    <script>
        function volverCrud() {
            setTimeout(() => {
                window.location.href = "/crud_invitados";
            }, 500);
        }
    </script>
</html>