<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/output.css">
    <link rel="stylesheet" href="/assets/css/swalStyles.css">
    <title>Inicio de sesión</title>
</head>
<body class="bg-[var(--color-pastel-claro-medio)] text-aliceblue  overflow-x-hidden flex flex-col min-h-screen ">
    <header class="mb-20 flex justify-center items-center bg-transparent p-4">
            <picture class="">
                <img src="/assets/img/XV_recortado.svg" alt="logo" class="w-10 h-10 mx-auto">
            </picture>
    </header>
    
    <main class="m-7 text-black  items-center flex flex-col flex-1">
        
        <div class="p-10 justify-center items-center flex flex-col bg-[var(--color-pastel-claro)] rounded-xl shadow-2xl h-100">
            <form class="flex flex-col items-center" action="/inicio" method="post" id="loginForm">
                
                <h1 class="text-[var(--color-rosa-mas-oscuro)] text-center text-3xl mb-10 font-bold">Bienvenido</h1>
                <div>
                    <label for="name" class=" text-[var(--color-rosa-vino)] text-xl">Nombre y Apellido</label>
                    <input required type="text" id="name" name="name" placeholder="Ingresa tu nombre y apellido" class="text-lg bg-[var(--color-pastel-claro)] border-2 border-[var(--color-rosa-oscuro)] rounded p-2 mb-15 mt-4 w-full max-w-xs focus:outline-none focus:border-[var(--color-rosa-medio)] focus:bg-[var(--color-pastel-claro-medio)] transition duration-300">
                </div>
                <input type="submit" value="Aceptar" class="bg-[var(--color-rosa-mas-oscuro)] text-blue-50 font-semibold decoration-solid rounded-lg p-2 w-32 cursor-pointer text-xl focus:bg-[var(--color-rosa-claro)] transition duration-300">
                
            </form>
        </div>
        
    </main>

    <footer class="bg-[var(--color-rosa-berlín)] text-white text-center p-4 mt-10 hi">
            <p>© Todos los derechos reservados.</p>
    </footer>
</body>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(e){
        e.preventDefault();
        window.location.href = 'inicio.html';

    });
</script>
</html>