@import url('https://fonts.cdnfonts.com/css/digital-numbers');


body{
    height: 300vh ;

}

#inicio-mask{
    mask-image: url('/assets/XV\(recortado\).svg');
    /* -webkit-mask-image: url('/assets/XV.svg'); */
    mask-position: 52% 15%;
    mask-repeat: no-repeat;
    mask-size: clamp(5000vh, 3500% , 0vh);
    /* mask-size: clamp(50px, 50% , 100px); */
}

#clock{
    /* font-family: 'Digital Numbers', system-ui; */
}

.img15{
    mask-image: linear-gradient(
        black 75%,
        transparent 85%
    );
}


#xv2{
    fill: #96ac60;
    position: absolute;
    top: 5%;
}

#cuerpo{
    height: 300vh;
}